# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/dist

# Neutralinojs client (minified)

# Neutralinojs related files
.storage
*.log
.tmp/*
./www/application-source
application.js*

.DS_Store
